.header .menu-bar > ul,
.nav,
.aside-search .head .meta,
.aside-search .tags,
.card-nbr .meta-data,
.card-nbr .info {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?l8o5mm");
	src: url("../fonts/icomoon.eot?l8o5mm#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?l8o5mm") format("truetype"), url("../fonts/icomoon.woff?l8o5mm") format("woff"), url("../fonts/icomoon.svg?l8o5mm#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dislike:before {
	content: "\e921";
}

.icon-like:before {
	content: "\e922";
}

.icon-play:before {
	content: "\e91e";
}

.icon-notification:before {
	content: "\e90e";
}

.icon-user-square:before {
	content: "\e90b";
}

.icon-dollar:before {
	content: "\e902";
}

.icon-tick:before {
	content: "\e90d";
}

.icon-lightbulb:before {
	content: "\e901";
}

.icon-fire:before {
	content: "\e9a9";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-contrast:before {
	content: "\e9d5";
}

.icon-save:before {
	content: "\e91f";
}

.icon-save:before {
	content: "\e91f";
}

.icon-upload:before {
	content: "\e914";
}

.icon-copy:before {
	content: "\e915";
}

.icon-poll:before {
	content: "\e920";
}

.icon-check:before {
	content: "\e916";
}

.icon-find:before {
	content: "\e917";
}

.icon-logout:before {
	content: "\e904";
}

.icon-switch:before {
	content: "\e905";
}

.icon-video-upload:before {
	content: "\e906";
}

.icon-reel:before {
	content: "\e907";
}

.icon-library:before {
	content: "\e909";
}

.icon-subscriptions:before {
	content: "\e90a";
}

.icon-share:before {
	content: "\e91a";
}

.icon-star-o:before {
	content: "\e918";
}

.icon-star:before {
	content: "\e919";
}

.icon-briefcase:before {
	content: "\e91b";
}

.icon-volume-up:before {
	content: "\e91c";
}

.icon-play-circle:before {
	content: "\e91d";
}

.icon-camera:before {
	content: "\e913";
}

.icon-search:before {
	content: "\e912";
}

.icon-angle-left:before {
	content: "\e911";
}

.icon-angle-right:before {
	content: "\e910";
}

.icon-th:before {
	content: "\e90f";
}

.icon-home:before {
	content: "\e903";
}

.icon-angle-down:before {
	content: "\e908";
}

.icon-cog:before {
	content: "\e90c";
}

.icon-plus:before {
	content: "\e900";
}

html,
body {
	height: 100%;
}

body {
	min-width: 360px;
	font-family: "Roboto", sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h2 {
	font-size: 22px;
	line-height: 1.2;
	margin: 0 0 15px;
}

h3 {
	font-size: 16px;
	line-height: 1.3;
}

h3 a {
	color: inherit;
}

h3 a:hover,
h3 a:focus {
	color: #00579c;
}

h3:last-child {
	margin: 0;
}

a {
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

a:hover,
a:focus {
	text-decoration: none;
}

.btn {
	padding: 10px;
	min-width: 100px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.384;
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}

#wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

#main {
	padding: 20px 0;
}

.main-title {
	font-size: 26px;
	line-height: 1.2;
	color: #000;
	font-weight: 700;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.main-title:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 4px;
	content: "";
	background: #000;
}

.cards {
	color: #8a8887;
}

.cards .image {
	width: 100%;
	height: 200px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: block;
}

.cards .image:hover {
	opacity: .8;
}

.cards .title {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	padding: 5px 15px;
	color: #fa8500;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
}

.cards time {
	display: block;
	text-align: right;
	font-size: .6875rem;
	line-height: 1.2;
	padding: 5px 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
	color: #000;
}

.cards h2 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	color: #000;
}

.cards h2 a {
	color: #000;
}

.cards h2 a:hover {
	color: #fa8500;
	text-decoration: none;
}

/* Slick slider styles */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-arrow {
	font-size: 40px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 99;
	border: none;
	padding: 0;
	line-height: 1;
	background: none;
}

.slick-arrow.slick-prev {
	left: 5px;
}

.slick-arrow.slick-next {
	right: 5px;
}

.cards {
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}

.new-item {
	opacity: 0;
	-webkit-transform: translateY(25px);
	-ms-transform: translateY(25px);
	transform: translateY(25px);
}

/* simple header css */

.sidenav-opener,
.btn-mega-menu {
	position: relative;
	display: block;
}

.sidenav-opener .icon-menu,
.btn-mega-menu .icon-menu {
	width: 42px;
	height: 40px;
	background: #fff;
	display: block;
	position: relative;
}

.sidenav-opener .icon-menu:after,
.sidenav-opener .icon-menu:before,
.sidenav-opener .icon-menu span,
.btn-mega-menu .icon-menu:after,
.btn-mega-menu .icon-menu:before,
.btn-mega-menu .icon-menu span {
	background: #231f20;
	height: 2px;
	content: "";
	position: absolute;
	width: 30px;
	top: 10px;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.sidenav-opener .icon-menu span,
.btn-mega-menu .icon-menu span {
	top: 19px;
}

.sidenav-opener .icon-menu:after,
.btn-mega-menu .icon-menu:after {
	top: 28px;
}

.nav-active .sidenav-opener .icon-menu:after,
.nav-active .sidenav-opener .icon-menu:before {
	top: 19px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.nav-active .sidenav-opener .icon-menu:after {
	-webkit-transform: translateX(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
}

.nav-active .sidenav-opener .icon-menu span {
	opacity: 0;
}

.active-mega .btn-mega-menu .icon-menu:after,
.active-mega .btn-mega-menu .icon-menu:before {
	top: 19px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.active-mega .btn-mega-menu .icon-menu:after {
	-webkit-transform: translateX(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
}

.active-mega .btn-mega-menu .icon-menu span {
	opacity: 0;
}

.header {
	position: relative;
	z-index: 9999;
}

.header:after {
	clear: both;
	display: block;
	content: "";
}

.header .fixed-header {
	padding: 10px 0;
	background: #beb7b7;
	position: relative;
	width: 100% !important;
}

.header .header-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header .menu-bar {
	background: #fff;
	padding: 3px 7px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.header .menu-bar > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header .menu-bar > ul > li {
	padding: 3px 10px;
}

.header .menu-bar > ul > li.has-dropdown > a:after,
.header .menu-bar > ul > li.has-dropdown > a:before {
	bottom: -7px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	opacity: 0;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	visibility: hidden;
	pointer-events: none;
}

.header .menu-bar > ul > li.has-dropdown > a:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 6px;
	margin-left: -6px;
}

.header .menu-bar > ul > li.has-dropdown > a:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #e5e5e5;
	border-width: 8px;
	margin-left: -8px;
}

.header .menu-bar > ul > li.has-dropdown.active > a {
	color: #00579c;
}

.header .menu-bar > ul > li.has-dropdown.active > a.profile {
	background: #dee2e6;
}

.header .menu-bar > ul > li.has-dropdown.active > a:after,
.header .menu-bar > ul > li.has-dropdown.active > a:before {
	opacity: 1;
	visibility: visible;
}

.header .menu-bar > ul > li > a {
	color: #606060;
	display: block;
	font-size: 16px;
	z-index: 50;
	line-height: 26px;
	position: relative;
}

.header .menu-bar > ul > li > a i.icon-lightbulb {
	font-size: 18px;
}

.header .menu-bar > ul > li > a.profile {
	width: 26px;
	height: 26px;
	background: #00579c;
	border-radius: 50%;
	text-align: center;
	color: #fff;
}

.header .menu-bar > ul > li > a.profile:hover,
.header .menu-bar > ul > li > a.profile:focus {
	background: #dee2e6;
}

.header .menu-bar > ul > li > a:hover,
.header .menu-bar > ul > li > a:focus {
	color: #00579c;
}

.search-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	background: #fff;
	border-radius: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 12px;
	width: 100%;
	margin: 0 0 15px;
	border: 1px solid #b3b3b3;
}

.search-bar:last-child {
	margin-bottom: 0;
}

.search-bar label {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	color: #231f20;
	margin: 0 5px 0 0;
	padding: 0;
	text-align: center;
	width: 20px;
}

.search-bar .form-control {
	height: 36px;
	width: 100%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: block;
	border: 0;
	background: none;
	outline: none;
	font-size: 14px;
	outline: none !important;
	min-width: 30px;
	line-height: 18px;
	padding: 9px 5px;
	border-radius: 0;
	color: #231f20;
}

.search-bar .icons-area {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: -5px -6px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
}

.search-bar .icons-area a {
	margin: 5px 6px 0;
	display: block;
	color: #231f20;
}

.search-bar .icons-area img {
	display: block;
	width: 12px;
	height: auto;
}

.navbar {
	width: 262px;
	background: #fff;
	position: fixed;
	left: 0;
	top: 60px;
	display: block;
	color: #606060;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	bottom: 0;
	z-index: 9500;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
	-webkit-transform: translateX(-110%);
	-ms-transform: translateX(-110%);
	transform: translateX(-110%);
	-webkit-transition: -webkit-transform .4s ease-in-out;
	transition: -webkit-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
	transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.nav-active .navbar {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.navbar .title {
	display: block;
	font-size: 15px;
	line-height: 22px;
	padding: 0 0 20px;
	letter-spacing: .5px;
	font-weight: 500;
}

.navbar .title:last-child {
	padding-bottom: 0;
}

.navbar .nav-wrap .nav:last-child {
	padding-bottom: 20px;
}

.navbar .info-area {
	padding: 20px 15px 0;
}

.nav-holder {
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 15px;
}

.nav-holder:last-child {
	border: 0;
}

.nav {
	padding: 0 0 20px;
	display: block;
}

.nav:last-child {
	padding-bottom: 0;
}

.nav > li {
	position: relative;
	padding: 0 0 17px;
}

.nav > li:last-child {
	padding-bottom: 0;
}

.nav > li.active > a {
	color: #00579c;
}

.nav > li > a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #606060;
	font-size: 15px;
	line-height: 22px;
}

.nav > li > a:not(.collapsed) .icon-angle-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nav > li > a:hover,
.nav > li > a:focus {
	color: #00579c;
}

.nav > li > a:hover i,
.nav > li > a:focus i {
	color: #00579c !important;
}

.nav > li > a .img {
	width: 24px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0 22px 0 0;
}

.nav > li > a .img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.nav > li > a i {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 24px;
	text-align: center;
	font-size: 21px;
	line-height: 22px;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	margin: 0 22px 0 0;
}

.nav > li > a i.icon-user-square {
	font-size: 20px;
}

.user-drop .nav > li > a i {
	color: #909090;
}

.nav > li > a i.icon-plus {
	font-size: 22px;
}

.nav > li > a i.icon-arrow-down {
	font-size: 18px;
}

.nav > li > a span {
	overflow: hidden;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.nav > li > a span i {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0 0 0 10px;
}

.dropdown-main {
	border: 1px solid #e5e5e5;
	color: #606060;
	font-size: 15px;
	background: #fff;
	line-height: 22px;
	position: absolute;
	right: 15px;
	margin-top: -11px;
	width: 300px;
	top: 60px;
	max-height: calc(100vh - 80px);
	overflow-x: hidden;
	overflow-y: auto;
}

.dropdown-main.options-menu {
	right: 0;
	left: 0;
	margin-top: 0;
	width: 100%;
}

.user-drop h3 {
	font-size: 18px;
	line-height: 26px;
	margin: 0 0 5px;
}

.user-drop h3 a {
	color: inherit;
}

.user-drop .box {
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
}

.user-drop .user-info {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

.user-drop .user-info .img {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	margin: 0 15px 0 0;
	border-radius: 50%;
	background: url(../images/img03.png) no-repeat;
}

.user-drop .user-info .img img {
	display: block;
	height: auto;
	width: 100%;
}

.user-drop .user-info .text-box {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	overflow: hidden;
}

.user-drop .user-info .title {
	display: block;
}

.options-menu {
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, .07);
}

.options-menu .container {
	overflow: hidden;
}

.options-menu ul {
	padding-left: 0;
	list-style: none;
	margin: -15px -10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	padding: 20px 0;
	font-size: 11px;
	line-height: 1.2;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.options-menu ul .title {
	display: block;
	margin: 0 0 4px;
	font-size: 14px;
	line-height: 1.25;
}

.options-menu ul li {
	padding: 15px 10px;
	width: 50%;
}

.options-menu ul li a {
	display: block;
	color: inherit;
}

.options-menu ul li a:hover {
	color: #00579c;
}

.options-menu ul .img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 50px;
}

.options-menu ul .img img {
	display: block;
	margin: 0 auto 10px;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	width: auto;
}

/* buttons  */

.btn-cover {
	border: 1px solid #e5e5e5;
	border-radius: 30px;
	padding: 3px 15px 3px 3px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	vertical-align: top;
	position: relative;
	min-width: 124px;
	color: #606060;
}

.btn-cover .img-round {
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 11px 0 0;
	border-radius: 50%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.btn-cover span {
	display: block;
	overflow: hidden;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.btn-cover:hover,
.btn-cover:focus {
	color: #606060;
	background: #e5e5e5;
}

.buttons-scrolling {
	padding: 15px 0 5px;
	overflow: hidden;
}

.buttons-scrolling .btns-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	overflow: hidden;
}

.buttons-scrolling .slick-list {
	padding: 0 80px;
}

.buttons-scrolling .btn-cover {
	margin: 0 4px;
}

.buttons-scrolling .slick-next,
.buttons-scrolling .slick-prev {
	width: 50px;
	height: 50px;
	background: #fff;
	text-align: center;
	position: absolute;
	outline: none !important;
	padding: 0 5px 0 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 500;
	font-size: 30px;
	border-radius: 50%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	left: 0;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.buttons-scrolling .slick-next {
	left: auto;
	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	right: 0;
	padding: 0 25px 0 5px;
}

.header-dark .fixed-header {
	background: #001871;
	color: #fff;
	position: relative;
	z-index: 9999;
}

.header-dark .header-holder {
	padding-top: 10px;
	padding-bottom: 10px;
}

.header-dark .btn-mega-menu .icon-menu {
	background: none;
}

.header-dark .btn-mega-menu .icon-menu:after,
.header-dark .btn-mega-menu .icon-menu:before,
.header-dark .btn-mega-menu .icon-menu span {
	height: 3px;
	background: #fff;
}

.header-dark .logo-area {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-dark .logo {
	width: 150px;
	margin: 0 0 0 15px;
}

.header-dark .logo img {
	display: block;
	height: auto;
	max-width: 100%;
}

.header-dark .sidenav-opener {
	font-size: 13px;
	line-height: 16px;
	color: #231f20;
	background: #fff;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: top;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	border-radius: 3px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 7px 10px;
	min-width: inherit;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.header-dark .sidenav-opener .icon-menu {
	padding: 0;
	width: 14px;
	margin: 0 5px 0 0;
	height: 10px;
}

.header-dark .sidenav-opener .icon-menu:after,
.header-dark .sidenav-opener .icon-menu:before,
.header-dark .sidenav-opener .icon-menu span {
	width: 100%;
	height: 2px;
}

.header-dark .sidenav-opener .icon-menu:before {
	top: 0;
}

.nav-active .header-dark .sidenav-opener .icon-menu:before {
	top: 5px;
}

.header-dark .sidenav-opener .icon-menu:after {
	top: 8px;
}

.nav-active .header-dark .sidenav-opener .icon-menu:after {
	top: 5px;
}

.header-dark .sidenav-opener .icon-menu span {
	top: 4px;
}

.header-dark .header-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

.header-dark .info-area {
	padding: 20px 15px 0;
}

.header-dark .btn-holder {
	margin: 0 -5px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.header-dark .btn-holder .btn {
	margin: 0 5px;
	min-width: inherit;
}

.header-dark .btn-filters {
	padding-left: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	margin: 0 -4px;
}

.header-dark .btn-filters li {
	padding: 0 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-dark .btn-filters li a {
	color: #fff;
}

.header-dark .btn-filters .ico-area i {
	width: 30px;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .5);
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #ced4da;
	border-radius: 50%;
}

.header-dark .btn-filters .ico-area i:after {
	z-index: 5;
	position: relative;
}

.header-dark .btn-filters .ico-area i.icon-briefcase {
	background: #17a2b8;
}

.header-dark .btn-filters .ico-area i.icon-find {
	background: #fff;
	color: #231f20;
	font-size: 24px;
}

.header-dark .btn-filters .ico-area i.icon-play {
	font-size: 20px;
}

.header-dark .btn-filters .switch {
	background: #b3b3b3;
	border-radius: 10px;
	width: 30px;
	height: 16px;
	border: 1px solid rgba(255, 255, 255, .5);
	display: block;
	margin: 0 0 0 10px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
	box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .5);
}

.header-dark .btn-filters .switch:after {
	position: absolute;
	left: 2px;
	height: 10px;
	border-radius: 50%;
	width: 10px;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	top: 2px;
	background: #dee2e6;
	content: "";
}

.aside-search {
	background: #fff;
	width: 250px;
	position: fixed;
	right: 0;
	top: 60px;
	overflow-x: hidden;
	overflow-y: auto;
	bottom: 0;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
	-webkit-transform: translateX(110%);
	-ms-transform: translateX(110%);
	transform: translateX(110%);
	-webkit-transition: -webkit-transform .4s ease-in-out;
	transition: -webkit-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
	transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.aside-topics .aside-search#aside-topics {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.aside-search#aside-portfolio .head {
	background: #7a1f52;
	color: #fff;
}

.aside-portfolio .aside-search#aside-portfolio {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.aside-search .head {
	background: #17a2b8;
	padding: 8px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.aside-search .head .title {
	font-size: 13px;
	line-height: 20px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	font-weight: 500;
}

.aside-search .head .meta {
	font-size: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	line-height: 20px;
	margin: -5px;
}

.aside-search .head .meta li {
	padding: 5px;
}

.aside-search .head .meta li a {
	color: #fff;
}

.aside-search .head .meta li a.volume {
	color: #231f20;
}

.aside-search .head .meta li a:hover,
.aside-search .head .meta li a:focus {
	color: #00579c;
}

.aside-search .head .meta li a:hover i,
.aside-search .head .meta li a:focus i {
	color: #00579c;
}

.aside-search .head .meta li a i {
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.aside-search .head .meta li a i.icon-play-circle {
	font-size: 18px;
}

.aside-search .custom-checkbox {
	width: 16px;
	height: 16px;
	display: block;
	min-height: inherit;
	padding: 0;
}

.aside-search .custom-checkbox input[type="checkbox"]:checked + .custom-control-label:before {
	background: #00579c;
}

.aside-search .custom-checkbox .custom-control-label:after,
.aside-search .custom-checkbox .custom-control-label:before {
	top: 0;
	left: 0;
	border: 0;
	margin: 0;
}

.aside-search .custom-checkbox .custom-control-label:before {
	background: #dee2e6;
}

.aside-search .aside-content {
	padding: 15px;
	overflow: hidden;
}

.aside-search .search-row {
	border: 1px solid #e5e5e5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	padding: 0 10px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 10px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.aside-search .search-row .form-control {
	border-radius: 0;
	background: none;
	border: 0;
	height: 28px;
	font-size: 15px;
	width: 100%;
	padding: 5px 1px;
	min-width: 30px;
	box-shadow: none;
	outline: none;
	line-height: 18px;
	color: #606060;
}

.aside-search .search-row .btn-submit {
	color: #17a2b8;
	font-size: 18px;
	line-height: 20px;
	background: none;
	padding: 0;
	border: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0 0 0 5px;
}

.aside-search .tags {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: -5px;
}

.aside-search .tags li {
	padding: 5px;
}

.aside-search .tags .tag-checkbox {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	cursor: pointer;
	display: block;
}

.aside-search .tags .tag-checkbox input[type="checkbox"] {
	display: none;
}

.aside-search .tags .tag-checkbox input[type="checkbox"][checked="checked"] + .text,
.aside-search .tags .tag-checkbox input[type="checkbox"]:checked + .text {
	color: #fff;
	background: #17a2b8;
}

.aside-search .tags .tag-checkbox .text {
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	display: block;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
	padding: 5px 8px;
	color: #17a2b8;
}

.mega-menu-in {
	height: 420px;
	background: #001871;
	max-width: none;
	overflow-y: auto;
	position: relative;
	z-index: 500;
	overflow-x: hidden;
}

.mega-menu .menu-frame {
	padding: 15px 0;
}

.mega-menu .menu-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: -5px -8px;
}

.mega-menu .menu-holder .menu-col {
	padding: 5px 8px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 100%;
}

.mega-menu .menu {
	border-top: 1px solid rgba(212, 163, 24, .5);
	padding: 10px 5px;
}

.mega-menu .menu .menu-cols {
	margin: -5px -10px;
}

.mega-menu .menu ul {
	margin: 0;
	padding: 5px 10px;
	list-style: none;
	font-size: 12px;
	line-height: 18px;
}

.mega-menu .menu ul li {
	padding: 0 0 8px;
}

.mega-menu .menu ul li:last-child {
	padding: 0;
}

.mega-menu .menu ul li a {
	color: #fff;
}

.mega-menu .menu ul li a:hover {
	color: #d4a318;
}

.mega-menu .menu.menu-large ul {
	font-size: 14px;
	line-height: 1.25;
}

.mega-menu .title {
	display: block;
	color: #d4a318;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0 0 10px;
}

.section-news {
	position: relative;
	z-index: 50;
	margin: 0 0 20px;
	background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    padding: 15px;
}

.news {
	border-bottom: 1px dotted #231f20;
	padding: 20px 0;
}

.news:after {
	clear: both;
	display: block;
	content: "";
}

.news:first-child {
	padding-top: 0;
}

.news:last-child {
	border: 0;
}

.news .meta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 10px;
}

.news .date {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}

.news .author {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}

.news .author a {
	color: #b3b3b3;
}

.news .author a:hover {
	color: #00579c;
}

.carousel {
	margin: 0 0 15px;
}

.carousel img {
	display: block;
	width: 100%;
	height: auto;
}

.carousel .img-area {
	background-position: 50% 50%;
	background-size: cover;
	height: 250px;
	background-repeat: no-repeat;
}

.carousel .caption {
	position: absolute;
	left: 0;
	bottom: 10px;
	margin: 0;
	right: 0;
	padding: 20px;
	font-size: 13px;
	max-height: 90%;
	overflow: hidden;
	color: rgba(255, 255, 255, .5);
	text-align: center;
}

.carousel .caption h3 {
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	margin: 0 0 5px;
}

.carousel .carousel-indicators li {
	border: 0;
	border-radius: 50%;
	width: 6px;
	height: 6px;
}

.post {
	background: #fff;
	padding: 20px;
	margin: 0 0 15px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
}

.post:last-child {
	margin-bottom: 0;
}

.post .img-holder {
	overflow: hidden;
	text-align: center;
	margin: 0 0 20px;
}

.post .img-holder a {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}

.post .img-holder img {
	display: block;
	max-width: 100%;
	height: auto;
}

.post .text-box {
	overflow: hidden;
}

.post p {
	color: #b3b3b3;
	margin: 0 0 10px;
}

.post p:last-child {
	margin-bottom: 0;
}

.post .author {
	display: block;
	font-size: 14px;
}

.post .author a {
	color: inherit;
}

.post .author a:hover,
.post .author a:focus {
	color: #00579c;
}

.pagination {
	border-radius: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.pagination:last-child {
	margin-bottom: 0;
}

.pagination a {
	border-radius: 0 !important;
}

.cards {
	margin-bottom: 30px;
}

.card-nbr {
	position: relative;
	color: #231f20;
	font-size: 14px;
	padding-bottom: 30px;
}

.card-nbr .card-holder {
	background: #fdf7f7;
	padding: 15px;
	margin: 0 0 15px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
}

.card-nbr .subtitle {
	display: block;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
}

.card-nbr .subtitle a {
	color: inherit;
}

.card-nbr .subtitle a:hover,
.card-nbr .subtitle a:focus {
	color: #e7711b;
}

.card-nbr .meta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: -5px -8px;
	padding: 0 0 10px;
}

.card-nbr .meta > * {
	padding: 5px 8px;
}

.card-nbr .rating {
	color: #cbcbcb;
	font-size: 14px;
	line-height: 1;
	margin: 5px 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.card-nbr .rating .active {
	color: #e7711b;
}

.card-nbr .help {
	color: #3208e6;
	font-size: 12px;
	font-weight: 700;
	text-shadow: 0 3px 3px rgba(0, 0, 0, .4);
	margin: 1px 0 0;
}

.card-nbr .help:hover {
	opacity: .7;
}

.card-nbr .head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 0 0 5px;
	overflow: hidden;
}

.card-nbr h2 {
	font-size: 15px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin: 0;
}

.card-nbr .btn-share {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	font-size: 13px;
	color: #909090;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: top;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 3px 0 0 5px;
}

.card-nbr .btn-share i {
	margin: 0 4px 0 0;
}

.card-nbr .category,
.card-nbr .author {
	display: block;
	color: #909090;
}

.card-nbr .category a,
.card-nbr .author a {
	color: inherit;
}

.card-nbr .numbers {
	margin: 0 0 15px;
	overflow: hidden;
}

.card-nbr .big-number {
	font-size: 35px;
	line-height: 1.05;
	display: inline-block;
	vertical-align: bottom;
}

.card-nbr .negative-number {
	font-size: 18px;
	line-height: 1.05;
	display: inline-block;
	vertical-align: bottom;
	color: #ff333a;
	margin: 0 0 4px 5px;
}

.card-nbr .meta-data {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 12px;
	line-height: 1.2;
	margin: -5px -3px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 0 5px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

.card-nbr .meta-data:last-child {
	padding: 0;
}

.card-nbr .meta-data li {
	padding: 5px 3px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.card-nbr .meta-data li:nth-child(3),
.card-nbr .meta-data li:nth-child(4) {
	-ms-flex-preferred-size: 55px;
	flex-basis: 55px;
	max-width: 55px;
	text-align: right;
}

.card-nbr .meta-data .text {
	text-shadow: 0 3px 3px rgba(0, 0, 0, .4);
}

.card-nbr .heading,
.card-nbr .figures {
	font-size: 30px;
	line-height: 1;
	font-weight: 700;
	color: #3208e6;
	text-shadow: 0 3px 3px rgba(0, 0, 0, .4);
}

.card-nbr .heading .number-red,
.card-nbr .figures .number-red {
	color: #fc4242;
}

.card-nbr .heading .number-green,
.card-nbr .figures .number-green {
	color: #066151;
}

.card-nbr .heading a,
.card-nbr .figures a {
	color: inherit;
}

.card-nbr .heading a:hover,
.card-nbr .figures a:hover {
	opacity: .7;
}

.card-nbr .heading .help,
.card-nbr .figures .help {
	display: inline-block;
	vertical-align: middle;
	color: #231f20;
	margin: 0 0 0 5px;
}

.card-nbr .figures {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.card-nbr .info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #909090;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	font-size: 13px;
	font-weight: 500;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: -5px;
	padding: 10px 0 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.card-nbr .info li {
	padding: 5px;
}

.card-nbr .info time {
	text-shadow: none;
	color: inherit;
	font-size: 13px;
	text-align: left;
}

.card-nbr .info a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: inherit;
}

.card-nbr .info a:hover {
	opacity: .7;
}

.card-nbr .info a i {
	margin: 0 6px 0 0;
	font-size: 15px;
}

.card-nbr .info a i.icon-poll {
	font-size: 17px;
}

.card-nbr .info a.poll,
.card-nbr .info a.save {
	color: #398a10;
}

.card-nbr .info a .icon-poll,
.card-nbr .info a .icon-save {
	color: #231f20;
}

@media (min-width: 576px) {
	.options-menu ul li {
		width: 33.33%;
	}
}

@media (min-width: 768px) {
	.slick-arrow.slick-prev {
		left: -15px;
	}

	.slick-arrow.slick-next {
		right: -15px;
	}

	.options-menu ul li {
		width: 20%;
	}

	.buttons-scrolling .slick-next,
	.buttons-scrolling .slick-prev {
		left: 0;
	}

	.buttons-scrolling .slick-next {
		left: auto;
		right: 0;
	}

	.mega-menu .menu-holder {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.mega-menu .menu-holder .menu-col.small {
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		width: 30%;
	}

	.mega-menu .menu .menu-cols {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}

	.mega-menu .menu ul {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}

	.mega-menu .menu ul.small {
		width: 23%;
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}

	.post {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}

	.post .img-holder {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		width: 110px;
		margin: 2px 10px 0 0;
	}

	.post .text-box {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
}

@media (min-width: 992px) {
	.cards .image {
		height: 160px;
	}
	
	.news-slider-row {
		margin-left: 0
	}

	.search-bar {
		width: 300px;
		margin: 0;
	}

	.search-bar .icons-area {
		font-size: 21px;
	}

	.search-bar .icons-area img {
		width: 15px;
	}

	.navbar {
		padding-top: 15px;
	}

	.options-menu ul li {
		width: 12.5%;
	}

	.btn-cover {
		min-width: 164px;
	}

	.btn-cover .img-round {
		width: 50px;
		height: 50px;
	}

	.buttons-scrolling.add {
		padding-left: 30px;
		padding-right: 30px;
	}

	.buttons-scrolling .slick-next,
	.buttons-scrolling .slick-prev {
		width: 60px;
		height: 60px;
		padding-left: 30px;
	}

	.buttons-scrolling .slick-next {
		padding: 0 30px 0 5px;
	}

	.header-dark .logo-area {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
	}

	.header-dark .logo {
		margin: 0 0 0 25px;
	}

	.header-dark .info-area {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		padding: 0 10px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.header-dark .mega-main {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.header-dark .btn-filters {
		padding: 0 0 0 10px;
	}

	.section-news {
		margin: 0;
	}

	.carousel .img-area {
		height: 300px;
	}
}

@media (min-width: 1200px) {
	.btn {
		min-width: 154px;
		font-size: 13px;
		padding: 10px 15px;
	}

	.navbar {
		padding-top: 0;
	}

	.buttons-scrolling.add {
		padding-left: 100px;
		padding-right: 100px;
	}

	.header-dark .logo {
		width: 200px;
	}

	.header-dark .info-area .search-bar {
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}

	.header-dark .btn-holder {
		margin-bottom: 0;
		padding-left: 10px;
	}

	.aside-search {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		-webkit-transition: none;
		transition: none;
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		float: left;
		margin: 0 0 0 15px;
		height: 400px;
		right: auto;
	}

	.have-aside {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		padding: 0 5%;
	}

	.mega-menu-in {
		margin: -20px 0 20px -15px;
	}

	.mega-menu > .container-fluid {
		padding: 0 545px 0 0;
		background: none;
	}

	.mega-menu .menu-frame {
		padding: 22px 20px;
	}
}

@media (min-width: 1400px) {
	body {
		font-size: 1rem;
	}

	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 16px;
	}

	.search-bar {
		width: 400px;
	}

	.options-menu ul {
		font-size: 14px;
	}

	.options-menu ul .title {
		font-size: 16px;
	}

	.header-dark .logo-area {
		width: 400px;
	}

	.header-dark .btn-holder {
		margin: 0 -15px;
		padding-left: 30px;
	}

	.header-dark .btn-holder .btn {
		margin: 0 15px;
	}

	.header-dark .btn-filters {
		margin: 0 -8px;
		padding: 0 0 0 30px;
	}

	.header-dark .btn-filters li {
		padding: 0 8px;
	}

	.mega-menu .menu ul {
		font-size: 13px;
	}

	.mega-menu .menu.menu-large ul {
		font-size: 17px;
	}

	.post .img-holder {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		width: 150px;
		margin: 0 15px 0 0;
	}
}

@media (max-width: 1199.98px) {
	.aside-topics .header-dark .btn-filters .switch.btn-topics:after {
		left: 15px;
	}

	.aside-portfolio .header-dark .btn-filters .switch.btn-portfolio:after {
		left: 15px;
	}

	.mega-menu-in {
		position: fixed;
		left: 0;
		top: 60px;
	}
}

@media (max-width: 991.98px) {
	.buttons-scrolling .slick-slide {
		padding: 0;
	}
}

@media (max-width: 767.98px) {
	.cards .slick-next,
	.cards .slick-prev {
		display: none !important;
	}
}

.card-animate-load, .card-animate-view {
	height: 0;
	opacity: 0;
	top: -50px;
}

.card-animate-load.load-from-bottom, .card-animate-view.load-from-bottom {
	height: auto;
	top: 0;
	opacity: 1;
	transition: all 0.7s ease-in-out;
}

.aside-holder .aside-search {
	margin: 0;
}

.drag-extended-column {
	width: 65%;
	padding: 0 15px;
	position: relative;
}

.button-holder {
	position: absolute;
	bottom: 0;
	right: 15px;
}

.save {
	color: #f4f4f4;
	background: #1abc9c;
	font-weight: bold;
	border: solid 0 #e3edf4;
	border-radius: 15px;
	padding: 6px 20px;
	font-size: 14px;
	text-transform: uppercase;
	transition: background 0.2s ease-in-out;
}

.save:hover {
	background: #2a8a85;
}

.cancel {
	color: #f4f4f4;
	background: #f47e7e;
	font-weight: bold;
	border: solid 0 #e3edf4;
	border-radius: 15px;
	padding: 6px 20px;
	font-size: 14px;
	text-transform: uppercase;
	transition: background 0.2s ease-in-out;
	margin-left: 3px;
}

.cancel:hover {
	background: #e05d5d;
}

.save:focus, .cancel:focus {
	outline: medium none;
}

.save[disabled], .cancel[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

.drag-card-holder {
	border: 3px dotted #d2d1d1;
	height: calc(100% - 95px);
	padding: 0 2px;
	position: relative;
	top: 55px;
	overflow-y: auto;
}

.drag-card-holder::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.drag-card-holder::-webkit-scrollbar {
	width: 10px;
	background-color: #f5f5f5;
}

.drag-card-holder::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
	background-color: #d2d1d1;
}

.cards .draggable {
	cursor: grab;
}

.drag-card-holder .card-nbr {
	display: inline-block;
	padding: 4px 4px 0 4px;
}

.drag-card-holder .card-nbr .card-holder {
	padding: 8px;
	margin: 0;
}

.drag-card-holder .card-nbr .meta {
	padding: 0 0 2px;
}

.drag-card-holder .card-nbr .subtitle {
	font-size: 10px;
	line-height: 10px;
}

.drag-card-holder .card-nbr .rating {
	font-size: 10px;
	line-height: 10px;
	margin: 5px 0 0;
}

.drag-card-holder .card-nbr .numbers {
	margin: 0 0 6px;
}

.drag-card-holder .card-nbr .big-number {
	font-size: 15px;
	line-height: 15px;
}

.drag-card-holder .card-nbr .negative-number {
	font-size: 10px;
	line-height: 10px;
	margin: 0 0 4px 5px;
}

.drag-card-holder .card-nbr .meta-data {
	font-size: 10px;
	line-height: 10px;
}

.drag-card-holder .card-nbr .heading, .drag-card-holder .card-nbr .figures {
	font-size: 8px;
	line-height: 10px;
}

.drag-card-holder .card-nbr .meta-data li {
	padding: 5px 3px;
}

.drag-card-holder .card-nbr .head, .drag-card-holder .card-nbr .category, .drag-card-holder .card-nbr .info {
	display: none;
}

.form__group {
	position: absolute;
	padding: 10px 0 0;
	width: calc(100% - 30px);
	left: 15px;
	top: 0;
}

.form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 14px;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}
.form__field::placeholder {
	color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
	font-size: 14px;
	cursor: text;
	top: 15px;
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 14px;
	color: #9b9b9b;
}

.form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #1abc9c, #38ef7d);
	border-image-slice: 1;
}
.form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 12px;
	color: #11998e;
	font-weight: 700;
}

.portfolio-top-right-menu {
	justify-content: flex-end !important;
}
.portfolio-top-right-menu img.profile-image {
	width: 22px;
	height: 22px;
	border-radius: 50%;
}
.portfolio-top-right-menu li a i {
	font-size: 18px;
}

.fixed-header .sub-header {
	margin: 0;
}

.fixed-header .sub-header .d-flex {
	padding: 3px 15px;
}

.fixed-header .sub-header h2 {
	font-size: 16px;
	color: #333;
}

.ml-15 {
	margin-left: 15px !important;
}

.mb-15 {
	margin-bottom: 15px;
}

.mt-15 {
	margin-top: 15px;
}

.sub-header {
	background: #f4eeee;
	margin-top: 15px;
}

.sub-header .d-flex {
	align-items: center;
	padding: 15px;
}

.sub-header h2 {
	margin-bottom: 0;
	margin-right: 20px;
	font-size: 20px;
}

.sub-header img {
	margin-right: 40px;
	border-right: 1px solid #b9a1a1;
	padding-right: 40px;
	width: 76px;
}

.mb-40 {
	margin-bottom: 40px;
}

.portfolio-filters .slick-initialized .slick-slide {
	text-align: center;
}
.portfolio-filters .btn-cover {
	min-width: 120px;
}

.portfolio-filters .btn-cover .img-round {
	width: 30px;
	height: 30px;
}

.portfolio-filters .btn-cover span {
	font-size: 14px;
}

.sub-header-filter .search-bar .icons-area {
	width: 36px;
}

.sub-header-filter-holder {
	justify-content: space-between;
}

.sub-header-filter {
	display: flex;
}

.sub-header-filter select {
	margin-left: 15px;
	font-size: 12px;
	padding: 10px;
}

.max-limit {
	position: absolute;
	bottom: 5px;
	left: 15px;
}

.reg-btn {
	float: right;
	font-size: 16px;
}

.reg-header {
	font-size: 24px;
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #f5f5f5;
}

i#add-new-port-tag {
	color: #17a2b8;
	font-size: 20px;
	position: relative;
	right: -5px;
	cursor: pointer;
	bottom: 1px;
}

.login-form form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 15px;
}

.card-title{ font-weight:300; }

.login-form{
	width:400px;
	box-shadow: 0px 2px 14px 0px #a29696;
}

.sign-up-forgot {
	margin-top: 18px;
	display: flex;
	justify-content: space-between;
}

.login-form .btn {
	width: auto;
	min-width: auto;
	font-size: 14px;
	padding: 10px 30px;
	margin-top: 10px;
}

p.login-info {
	font-size: 12px;
	text-align: center;
	margin-bottom: 0;
}

.login-wrapper {
	height: 100%;
}

.login-form .card-body {
	background-color: #e1ede1;
}

.login-form h3 {
	margin-bottom: 0;
	padding: 15px;
	background: #f7f7f7;
	font-weight: 600;
	font-size: 18px;
}

.card.login-form.social-login {
	width: 350px;
}

.social-icons {
	list-style: none;
	padding: 0;
	text-align: center;
}

.social-icons li {
	display: inline-block;
	padding: 10px;
}
	/* reset input */
.form__field:required, .form__field:invalid {
	box-shadow: none;
}
