// custom variables and override bootstrap variables

$body-bg: #fff;

$white:  #fff !default;
$gray-100: #b3b3b3;
$gray-200: #e5e5e5;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #606060;
$gray-900: #231f20;
$black:  #000 !default;

$blue:    #00579c;
$indigo:  #632289;
$blue-dark: #001871;
$purple:  #6f42c1 !default;
$pink:    #7a1f52;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #d4a318;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8;

$colors: ();
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink, 
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $blue;
$secondary:     $pink;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
	0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 1.5),
	5: ($spacer * 3),
	6: ($spacer * 4.5),
	7: ($spacer * 6),
	8: ($spacer * 7.5),
	9: ($spacer * 9),
	10: ($spacer * 10.5)
), $spacers);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1370px
);

// Body

$body-bg:                   #eff0f5;
$body-color:                $gray-900;

// Links

$link-color:                              theme-color("primary");
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   none; 

// pagination
$pagination-color:                  $link-color;
$pagination-bg:                     $white !default;
$pagination-border-width:           $border-width !default;
$pagination-border-color:           $gray-300 !default;

$pagination-focus-box-shadow:       $input-btn-focus-box-shadow !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $white;
$pagination-hover-bg:               $blue;
$pagination-hover-border-color:     $gray-300;

$pagination-active-color:           $white;
$pagination-active-bg:              $blue;
$pagination-active-border-color:    $gray-300;

$font-size-base: .875rem;

$base-min-width: 360px;
 
// This is the default html and body font-size for the base rem value.
$rem-base: 16px;
