$breakpoints: ('xs-phone': 320px,
  'phone': 576px,
  'tablet': 768px,
  'desktop': 992px,
  'widescreen': 1200px);

// keywords
$media-expressions: ('screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "vendors/bootstrap/functions";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import "bootstrap-custom";

@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/icons';

html,
body {
  height: 100%;
}

body {
  min-width: $base-min-width;
  font-family: 'Roboto', sans-serif;

  @include media-breakpoint-up(xxl) {
    font-size: 1rem;
  }
}

h2 {
  font-size: 22px;
  line-height: 1.2;
  margin: 0 0 15px;

  @include media-breakpoint-up(xxl) {
    font-size: 30px;
  }
}

h3 {
  font-size: 16px;
  line-height: 1.3;

  @include media-breakpoint-up(xl) {
    //font-size: 18px;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 22px;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: $blue;
    }
  }

  &:last-child {
    margin: 0;
  }
}

a {
  transition: all 0.25s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.btn {
  padding: 10px;
  min-width: 100px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.384;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;

  @include media-breakpoint-up(xl) {
    min-width: 154px;
    font-size: 13px;
    padding: 10px 15px;
  }
}

#wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

#main {
  padding: 20px 0;
}

.main-title {
  font-size: 26px;
  line-height: 1.2;
  color: $black;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 4px;
    content: '';
    background: $black;
  }
}

.cards {
  color: #8a8887;

  .image {
    @include size(100%, 200px);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;

    @include media-breakpoint-up(lg) {
      height: 160px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    background: $white;
    padding: 5px 15px;
    color: #fa8500;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
  }

  time {
    display: block;
    text-align: right;
    font-size: rem-calc(11);
    line-height: 1.2;
    padding: 5px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    color: $black;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: $black;

    a {
      color: $black;

      &:hover {
        color: #fa8500;
        text-decoration: none;
      }
    }
  }
}

/* Slick slider styles */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  border: none;
  padding: 0;
  line-height: 1;
  background: none;

  &.slick-prev {
    left: 5px;

    @include media-breakpoint-up(md) {
      left: -15px;
    }
  }

  &.slick-next {
    right: 5px;

    @include media-breakpoint-up(md) {
      right: -15px;
    }
  }
}

.cards {
  transition: all 1s linear;

  .slick-next,
  .slick-prev {
    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }
}

.new-item {
  opacity: 0;
  transform: translateY(25px);
}


/* simple header css */
.sidenav-opener,
.btn-mega-menu {
  position: relative;
  display: block;

  .icon-menu {
    @include size(42px, 40px);
    background: $white;
    display: block;
    position: relative;

    &:after,
    &:before,
    span {
      background: $gray-900;
      height: 2px;
      content: "";
      position: absolute;
      width: 30px;
      top: 10px;
      transition: all .25s ease-in-out;
      left: 50%;
      transform: translateX(-50%);
    }

    span {
      top: 19px;
    }

    &:after {
      top: 28px;
    }
  }
}

.sidenav-opener {
  .nav-active & {
    .icon-menu {

      &:after,
      &:before {
        top: 19px;
        transform: translateX(-50%) rotate(45deg);
      }

      &:after {
        transform: translateX(-50%) rotate(-45deg);
      }

      span {
        opacity: 0;
      }
    }
  }
}

.btn-mega-menu {
  .active-mega & {
    .icon-menu {

      &:after,
      &:before {
        top: 19px;
        transform: translateX(-50%) rotate(45deg);
      }

      &:after {
        transform: translateX(-50%) rotate(-45deg);
      }

      span {
        opacity: 0;
      }
    }
  }
}

.header {
  @include clearfix;
  position: relative;
  z-index: 9999;

  .fixed-header {
    padding: 10px 0;
    background: #beb7b7;
    position: relative;
    width: 100% !important;
  }

  .header-holder {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;

  }

  .menu-bar {
    background: $white;
    padding: 3px 7px;
    flex-shrink: 0;

    > ul {
      @extend %listreset;
      display: flex;
      align-items: center;

      > li {
        padding: 3px 10px;

        &.has-dropdown {
          > a {

            &:after,
            &:before {
              bottom: -7px;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              opacity: 0;
              transition: all .25s ease-in-out;
              visibility: hidden;
              pointer-events: none;
            }

            &:after {
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: #fff;
              border-width: 6px;
              margin-left: -6px;
            }

            &:before {
              border-color: rgba(194, 225, 245, 0);
              border-bottom-color: $gray-200;
              border-width: 8px;
              margin-left: -8px;
            }
          }

          &.active {
            > a {
              color: $blue;

              &.profile {
                background: $gray-300;
              }

              &:after,
              &:before {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }

        > a {
          color: $gray-800;
          display: block;
          font-size: 16px;
          z-index: 50;
          line-height: 26px;
          position: relative;


          i.icon-lightbulb {
            font-size: 18px;
          }

          &.profile {
            @include size(26px);
            background: $blue;
            border-radius: 50%;
            text-align: center;
            color: $white;

            &:hover,
            &:focus {
              background: $gray-300;
            }
          }

          &:hover,
          &:focus {
            color: $blue;
          }
        }
      }
    }
  }
}

.search-bar {
  display: flex;
  flex-flow: row nowrap;
  background: $white;
  border-radius: 0;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  margin: 0 0 15px;
  border: 1px solid $gray-100;

  @include media-breakpoint-up(lg) {
    width: 300px;
    margin: 0;
  }

  @include media-breakpoint-up(xxl) {
    width: 400px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  label {
    flex-shrink: 0;
    color: $gray-900;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: center;
    width: 20px;
  }

  .form-control {
    height: 36px;
    width: 100%;
    flex-grow: 1;
    display: block;
    border: 0;
    background: none;
    outline: none;
    font-size: 14px;
    outline: none !important;
    min-width: 30px;
    line-height: 18px;
    padding: 9px 5px;
    border-radius: 0;
    color: $gray-900;
  }

  .icons-area {
    flex-shrink: 0;
    margin: -5px -6px 0;
    display: flex;
    align-items: center;
    font-size: 16px;

    @include media-breakpoint-up(lg) {
      font-size: 21px;
    }

    a {
      margin: 5px 6px 0;
      display: block;
      color: $gray-900;
    }

    img {
      display: block;
      width: 12px;
      height: auto;

      @include media-breakpoint-up(lg) {
        width: 15px;
      }
    }
  }
}

.navbar {
  width: 262px;
  background: $white;
  position: fixed;
  left: 0;
  top: 60px;
  display: block;
  color: $gray-800;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 0;
  z-index: 9500;
  box-shadow: 0 0 5px 0 rgba($black, .2);
  transform: translateX(-110%);
  transition: transform .4s ease-in-out;

  @include media-breakpoint-up(lg) {
    padding-top: 15px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 0;
  }

  .nav-active & {
    transform: none;
  }

  .title {
    display: block;
    font-size: 15px;
    line-height: 22px;
    padding: 0 0 20px;
    letter-spacing: .5px;
    font-weight: 500;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .nav-wrap .nav:last-child {
    padding-bottom: 20px;
  }

  .info-area {
    padding: 20px 15px 0;
  }
}

.nav-holder {
  border-bottom: 1px solid $gray-200;
  padding: 20px 15px;

  &:last-child {
    border: 0;
  }
}

.nav {
  @extend %listreset;
  padding: 0 0 20px;
  display: block;

  &:last-child {
    padding-bottom: 0;
  }

  > li {
    position: relative;
    padding: 0 0 17px;

    &:last-child {
      padding-bottom: 0;
    }

    &.active {
      > a {
        color: $blue;
      }
    }

    > a {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      color: $gray-800;
      font-size: 15px;
      line-height: 22px;

      &:not(.collapsed) {
        .icon-angle-down {
          transform: rotate(180deg);

        }
      }

      &:hover,
      &:focus {
        color: $blue;

        i {
          color: $blue !important;
        }
      }

      .img {
        width: 24px;
        flex-shrink: 0;
        margin: 0 22px 0 0;

        img {
          display: block;
          max-width: 100%;
          height: auto;
          margin: 0 auto;
        }
      }

      i {
        flex-shrink: 0;
        width: 24px;
        text-align: center;
        font-size: 21px;
        line-height: 22px;
        transition: all .25s ease-in-out;
        margin: 0 22px 0 0;

        &.icon-user-square {
          font-size: 20px;
        }

        .user-drop & {
          color: #909090;
        }

        &.icon-plus {
          font-size: 22px;
        }

        &.icon-arrow-down {
          font-size: 18px;
        }
      }

      span {
        overflow: hidden;
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        i {
          flex-shrink: 0;
          margin: 0 0 0 10px;
        }
      }

    }
  }
}

.dropdown-main {
  border: 1px solid $gray-200;
  color: $gray-800;
  font-size: 15px;
  background: $white;
  line-height: 22px;
  position: absolute;
  right: 15px;
  margin-top: -11px;
  width: 300px;
  top: 60px;
  max-height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: auto;

  &.options-menu {
    right: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
  }
}

.user-drop {
  h3 {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 5px;

    a {
      color: inherit;
    }
  }

  .box {
    border-bottom: 1px solid $gray-200;
    padding: 20px;
  }

  .user-info {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    .img {
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      margin: 0 15px 0 0;
      border-radius: 50%;
      background: url(../images/img03.png) no-repeat;

      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }

    .text-box {
      flex-grow: 1;
      overflow: hidden;
    }

    .title {
      display: block;
    }
  }
}

.options-menu {
  box-shadow: 0 0 7px 0 rgba($black, .07);

  .container {
    overflow: hidden;
  }

  ul {
    @include list-unstyled;
    margin: -15px -10px;
    display: flex;
    text-align: center;
    padding: 20px 0;
    font-size: 11px;
    line-height: 1.2;
    flex-flow: row wrap;

    @include media-breakpoint-up(xxl) {
      font-size: 14px;
    }

    .title {
      display: block;
      margin: 0 0 4px;
      font-size: 14px;
      line-height: 1.25;

      @include media-breakpoint-up(xxl) {
        font-size: 16px;

      }
    }

    li {
      padding: 15px 10px;
      width: 50%;

      @include media-breakpoint-up(sm) {
        width: 33.33%;
      }

      @include media-breakpoint-up(md) {
        width: 20%;
      }

      @include media-breakpoint-up(lg) {
        width: 12.5%;
      }

      a {
        display: block;
        color: inherit;

        &:hover {
          color: $blue;
        }
      }
    }

    .img {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 50px;

      img {
        display: block;
        margin: 0 auto 10px;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        width: auto;
      }
    }
  }
}

/* buttons  */

.btn-cover {
  border: 1px solid $gray-200;
  border-radius: 30px;
  padding: 3px 15px 3px 3px;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  position: relative;
  min-width: 124px;
  color: $gray-800;

  @include media-breakpoint-up(lg) {
    min-width: 164px;
  }

  .img-round {
    @include size(40px);
    display: block;
    margin: 0 11px 0 0;
    border-radius: 50%;
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
      @include size(50px);
    }
  }

  span {
    display: block;
    overflow: hidden;
    flex-grow: 1;
  }

  &:hover,
  &:focus {
    color: $gray-800;
    background: $gray-200;
  }
}

.buttons-scrolling {
  padding: 15px 0 5px;
  overflow: hidden;

  &.add {
    @include media-breakpoint-up(lg) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .btns-slider {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
  }

  .slick-list {
    padding: 0 80px;
  }

  .slick-slide {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .btn-cover {
    margin: 0 4px;
  }

  .slick-next,
  .slick-prev {
    @include size(50px);
    background: $white;
    text-align: center;
    position: absolute;
    outline: none !important;
    padding: 0 5px 0 25px;
    display: flex;
    z-index: 500;
    font-size: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    left: 0;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px 0 rgba($black, .5);

    @include media-breakpoint-up(md) {
      left: 0;
    }

    @include media-breakpoint-up(lg) {
      @include size(60px);
      padding-left: 30px;
    }

  }

  .slick-next {
    left: auto;
    transform: translate(50%, -50%);
    right: 0;
    padding: 0 25px 0 5px;

    @include media-breakpoint-up(md) {
      left: auto;
      right: 0;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 30px 0 5px;
    }
  }
}

.header-dark {
  .fixed-header {
    background: $blue-dark;
    color: $white;
    position: relative;
    z-index: 9999;
  }

  .header-holder {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .btn-mega-menu {
    .icon-menu {
      background: none;

      &:after,
      &:before,
      span {
        height: 3px;
        background: $white;
      }
    }
  }

  .logo-area {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;

    @include media-breakpoint-up(lg) {
      flex-basis: 0;
    }

    @include media-breakpoint-up(xxl) {
      width: 400px;
    }
  }

  .logo {
    width: 150px;
    margin: 0 0 0 15px;

    @include media-breakpoint-up(lg) {
      margin: 0 0 0 25px;
    }

    @include media-breakpoint-up(xl) {
      width: 200px;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }

  .sidenav-opener {
    font-size: 13px;
    line-height: 16px;
    color: $gray-900;
    background: $white;
    display: inline-flex;
    vertical-align: top;
    flex-flow: row nowrap;
    border-radius: 3px;
    align-items: center;
    padding: 7px 10px;
    min-width: inherit;
    flex-shrink: 0;

    .icon-menu {
      padding: 0;
      width: 14px;
      margin: 0 5px 0 0;
      height: 10px;

      &:after,
      &:before,
      span {
        @include size(100%, 2px);
      }

      &:before {
        top: 0;

        .nav-active & {
          top: 5px;
        }
      }

      &:after {
        top: 8px;

        .nav-active & {
          top: 5px;
        }
      }

      span {
        top: 4px;
      }
    }
  }

  .header-holder {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }

  .info-area {
    padding: 20px 15px 0;

    @include media-breakpoint-up(lg) {
      flex-grow: 1;
      padding: 0 10px;
      align-items: center;
      justify-content: center;
    }

    .search-bar {
      @include media-breakpoint-up(xl) {
        flex-shrink: 0;
      }
    }
  }

  .mega-main {
    @include media-breakpoint-up(lg) {
      flex-basis: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  .btn-holder {
    margin: 0 -5px 15px;
    display: flex;
    flex-flow: row wrap;

    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
      padding-left: 10px;
    }

    @include media-breakpoint-up(xxl) {
      margin: 0 -15px;
      padding-left: 30px;
    }

    .btn {
      margin: 0 5px;
      min-width: inherit;

      @include media-breakpoint-up(xxl) {
        margin: 0 15px;
      }
    }
  }

  .btn-filters {
    @include list-unstyled;
    display: flex;
    flex-shrink: 0;
    flex-flow: row nowrap;
    margin: 0 -4px;

    @include media-breakpoint-up(lg) {
      padding: 0 0 0 10px;
    }

    @include media-breakpoint-up(xxl) {
      margin: 0 -8px;
      padding: 0 0 0 30px;
    }

    li {
      padding: 0 4px;
      display: flex;
      align-items: center;

      @include media-breakpoint-up(xxl) {
        padding: 0 8px;
      }

      a {
        color: $white;
      }

    }

    .ico-area {
      i {
        @include size(30px);
        display: flex;
        box-shadow: inset 0 0 10px 0 rgba($black, .5);
        text-align: center;
        align-items: center;
        justify-content: center;
        background: $gray-400;
        border-radius: 50%;

        &:after {
          z-index: 5;
          position: relative;
        }

        &.icon-briefcase {
          background: $cyan;
        }

        &.icon-find {
          background: $white;
          color: $gray-900;
          font-size: 24px;
        }

        &.icon-play {
          font-size: 20px;
        }
      }
    }

    .switch {
      background: $gray-100;
      border-radius: 10px;
      width: 30px;
      height: 16px;
      border: 1px solid rgba($white, .5);
      display: block;
      margin: 0 0 0 10px;
      flex-shrink: 0;
      position: relative;
      box-shadow: inset 0 0 5px 0 rgba($black, .5);

      &.btn-topics {
        .aside-topics & {
          &:after {

            @include media-breakpoint-down(lg) {
              left: 15px;
            }
          }
        }
      }

      &.btn-portfolio {
        .aside-portfolio & {
          &:after {
            @include media-breakpoint-down(lg) {
              left: 15px;
            }
          }
        }
      }

      &:after {
        position: absolute;
        left: 2px;
        height: 10px;
        border-radius: 50%;
        width: 10px;
        transition: all .25s ease-in-out;
        box-shadow: 0 0 5px 0 rgba($black, .5);
        top: 2px;
        background: $gray-300;
        content: "";
      }
    }
  }
}

.aside-search {
  background: $white;
  width: 250px;
  position: fixed;
  right: 0;
  top: 60px;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 0;
  box-shadow: 0 0 5px 0 rgba($black, .2);
  transform: translateX(110%);
  transition: transform .4s ease-in-out;

  @include media-breakpoint-up(xl) {
    transform: none;
    transition: none;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    float: left;
    margin: 0 0 0 15px;
    height: 400px;
    right: auto;
  }

  &#aside-topics {
    .aside-topics & {
      transform: none;
    }
  }

  &#aside-portfolio {
    .head {
      background: $pink;
      color: $white;
    }

    .aside-portfolio & {
      transform: none;
    }
  }

  .head {
    background: $cyan;
    padding: 8px 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;

    .title {
      font-size: 13px;
      line-height: 20px;
      flex-grow: 1;
      font-weight: 500;
    }

    .meta {
      @extend %listreset;
      font-size: 16px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      line-height: 20px;
      margin: -5px;

      li {
        padding: 5px;

        a {
          color: $white;

          &.volume {
            color: $gray-900;
          }

          &:hover,
          &:focus {
            color: $blue;

            i {
              color: $blue;
            }
          }

          i {
            transition: all .25s ease-in-out;

            &.icon-play-circle {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .custom-checkbox {
    @include size(16px);
    display: block;
    min-height: inherit;
    padding: 0;

    input[type="checkbox"]:checked {
      + .custom-control-label:before {
        background: $blue;
      }
    }

    .custom-control-label {

      &:after,
      &:before {
        top: 0;
        left: 0;
        border: 0;
        margin: 0;
      }

      &:before {
        background: $gray-300;
      }
    }
  }

  .aside-content {
    padding: 15px;
    overflow: hidden;
  }

  .search-row {
    border: 1px solid $gray-200;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 10px;
    align-items: center;
    margin: 0 0 10px;
    justify-content: space-between;

    .form-control {
      border-radius: 0;
      background: none;
      border: 0;
      height: 28px;
      font-size: 15px;
      width: 100%;
      padding: 5px 1px;
      min-width: 30px;
      box-shadow: none;
      outline: none;
      line-height: 18px;
      color: $gray-800;

    }

    .btn-submit {
      color: $cyan;
      font-size: 18px;
      line-height: 20px;
      background: none;
      padding: 0;
      border: 0;
      flex-shrink: 0;
      margin: 0 0 0 10px;
    }
  }

  .tags {
    @extend %listreset;
    display: flex;
    flex-flow: row wrap;
    margin: -5px;

    li {
      padding: 5px;

    }

    .tag-checkbox {
      font-size: 14px;
      line-height: 18px;
      margin: 0;
      padding: 0;
      transition: all .25s ease-in-out;
      cursor: pointer;
      display: block;

      input[type="checkbox"] {
        display: none;

        &[checked="checked"],
        &:checked {
          + .text {
            color: $white;
            background: $cyan;
          }
        }
      }

      .text {
        transition: all .25s ease-in-out;
        display: block;
        box-shadow: 0 0 3px 0 rgba($black, .2);
        padding: 5px 8px;

        color: $cyan;

      }
    }
  }

}

.have-aside {
  @include media-breakpoint-up(xl) {
    display: flex;
    justify-content: flex-end;
  }
}

.mega-menu-in {
  height: 420px;
  background: $blue-dark;
  max-width: none;
  overflow-y: auto;
  position: relative;
  z-index: 500;
  overflow-x: hidden;

  @include media-breakpoint-down(lg) {
    //flex-basis: calc(100% + 30px);
    //margin: -20px -15px 20px;
    position: fixed;
    left: 0;
    top: 60px;
  }

  @include media-breakpoint-up(xl) {
    margin: -20px 0 20px -15px;
  }
}

.mega-menu {
  > .container-fluid {

    @include media-breakpoint-up(xl) {
      padding: 0 545px 0 0;
      background: none;
    }
  }

  .menu-frame {
    padding: 15px 0;
    @include media-breakpoint-up(xl) {
      padding: 22px 20px;  
    }
  }

  .menu-holder {
    display: flex;
    flex-flow: row wrap;
    margin: -5px -8px;


    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
    }

    .menu-col {
      padding: 5px 8px;
      flex-grow: 1;
      width: 100%;

      &.small {

        @include media-breakpoint-up(md) {
          flex-grow: 0;
          flex-shrink: 0;
          width: 30%;
        }
      }
    }
  }

  .menu {
    border-top: 1px solid rgba($yellow, .5);
    padding: 10px 5px;

    .menu-cols {

      margin: -5px -10px;

      @include media-breakpoint-up(md) {
        display: flex;
        flex-flow: row nowrap;
      }
    }

    ul {
      margin: 0;
      padding: 5px 10px;
      list-style: none;
      font-size: 12px;
      line-height: 18px;

      @include media-breakpoint-up(md) {
        flex-grow: 1;
      }

      @include media-breakpoint-up(xxl) {
        font-size: 13px;
      }

      &.small {

        @include media-breakpoint-up(md) {
          width: 23%;
          flex-shrink: 0;
        }
      }

      li {
        padding: 0 0 8px;

        &:last-child {
          padding: 0;
        }

        a {
          color: $white;

          &:hover {
            color: $yellow;
          }
        }
      }
    }

    &.menu-large {
      ul {
        font-size: 14px;
        line-height: 1.25;

        @include media-breakpoint-up(xxl) {
          font-size: 17px;
        }
      }
    }
  }

  .title {
    display: block;
    color: $yellow;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
}

.section-news {
  position: relative;
  z-index: 50;
  margin: 0 0 20px;

  @include media-breakpoint-up(lg) {
    border-right: 1px solid #a4a4a4;
    margin: 0;
  }
}

.news {
  border-bottom: 1px dotted $gray-900;
  padding: 20px 0;
  @include clearfix;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border: 0;
  }

  .meta {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px;
  }

  .date {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  }

  .author {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;

    a {
      color: $gray-100;

      &:hover {
        color: $blue;
      }
    }
  }

}

.carousel {
  margin: 0 0 15px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .img-area {
    background-position: 50% 50%;
    background-size: cover;
    height: 250px;
    background-repeat: no-repeat;

    @include media-breakpoint-up(lg) {
      height: 300px;
    }
  }

  .caption {
    position: absolute;
    left: 0;
    bottom: 10px;
    margin: 0;
    right: 0;
    padding: 20px;
    font-size: 13px;
    max-height: 90%;
    overflow: hidden;
    color: rgba($white, .5);
    text-align: center;

    h3 {
      font-size: 16px;
      line-height: 22px;
      color: $white;
      margin: 0 0 5px;
    }
  }

  .carousel-indicators {

    li {
      border: 0;
      border-radius: 50%;
      width: 6px;
      height: 6px;
    }
  }
}

.post {
  background: $white;
  padding: 20px;
  margin: 0 0 15px;
  box-shadow: 0 5px 5px 0 rgba($black, .1);

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row nowrap;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .img-holder {
    overflow: hidden;
    text-align: center;
    margin: 0 0 20px;

    @include media-breakpoint-up(md) {
      flex-shrink: 0;
      width: 110px;
      margin: 2px 10px 0 0;
    }

    @include media-breakpoint-up(xxl) {
      flex-shrink: 0;
      width: 150px;
      margin: 0 15px 0 0;
    }

    a {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .text-box {
    overflow: hidden;

    @include media-breakpoint-up(md) {
      flex-grow: 1;
    }


  }

  p {
    color: $gray-100;
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .author {
    display: block;

    a {
      color: inherit;

      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }
}

.pagination {
  border-radius: 0;
  flex-flow: row wrap;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    border-radius: 0 !important;
  }
}

.cards {
  margin-bottom: 30px;
}

.card-nbr {
  position: relative;
  color: $gray-900;
  font-size: 14px;
  padding-bottom: 30px;

  .card-holder {
    background: #fdf7f7;
    padding: 15px;
    margin: 0 0 15px;
    overflow: hidden;
    border: 1px solid $gray-200;
  }

  .subtitle {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;

    a {
      color: inherit;

      &:hover,
      &:focus {
        color: #e7711b;
      }
    }
  }

  .meta {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: -5px -8px;
    padding: 0 0 10px;

    > * {
      padding: 5px 8px;
    }
  }

  .rating {
    color: #cbcbcb;
    font-size: 14px;
    line-height: 1;
    margin: 5px 0 0;
    display: flex;

    .active {
      color: #e7711b;
    }
  }

  .help {
    color: #3208e6;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0 3px 3px rgba($black, .4);
    margin: 1px 0 0;

    &:hover {
      opacity: .7;
    }
  }

  .head {
    display: flex;
    align-items: flex-start;
    margin: 0 0 5px;
    overflow: hidden;
  }

  h2 {
    font-size: 15px;
    flex-grow: 1;
    margin: 0;
  }

  .btn-share {
    flex-shrink: 0;
    font-size: 13px;
    color: #909090;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    margin: 3px 0 0 5px;

    i {
      margin: 0 4px 0 0;
    }
  }

  .category,
  .author {
    display: block;
    color: #909090;

    a {
      color: inherit;
    }
  }

  .numbers {
    margin: 0 0 15px;
    overflow: hidden;
  }

  .big-number {
    font-size: 35px;
    line-height: 1.05;
    display: inline-block;
    vertical-align: bottom;
  }

  .negative-number {
    font-size: 18px;
    line-height: 1.05;
    display: inline-block;
    vertical-align: bottom;
    color: #ff333a;
    margin: 0 0 4px 5px;
  }

  .meta-data {
    @extend %listreset;
    display: flex;
    font-size: 12px;
    line-height: 1.2;
    margin: -5px -3px;
    align-items: center;
    padding: 0 0 10px;
    flex-flow: row nowrap;

    &:last-child {
      padding: 0;
    }

    li {
      padding: 5px 3px;
      flex-shrink: 0;
      flex-grow: 1;

      &:nth-child(3),
      &:nth-child(4) {
        flex-basis: 55px;
        max-width: 55px;
        text-align: right;
      }
    }

    .text {
      text-shadow: 0 3px 3px rgba($black, .4);
    }
  }

  .heading,
  .figures {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    color: #3208e6;
    text-shadow: 0 3px 3px rgba($black, .4);

    .number-red {
      color: #fc4242;
    }

    .number-green {
      color: #066151;
    }

    a {
      color: inherit;

      &:hover {
        opacity: .7;
      }
    }

    .help {
      display: inline-block;
      vertical-align: middle;
      color: $gray-900;
      margin: 0 0 0 5px;
    }
  }

  .figures {
    display: flex;
    align-items: center;
  }

  .info {
    @extend %listreset;
    display: flex;
    color: #909090;
    flex-flow: row nowrap;
    font-size: 13px;
    font-weight: 500;
    align-items: center;
    margin: -5px;
    padding: 10px 0 0;
    justify-content: space-between;

    li {
      padding: 5px;
    }

    time {
      text-shadow: none;
      color: inherit;
      font-size: 13px;
      text-align: left;
    }

    a {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      color: inherit;

      &:hover {
        opacity: .7;
      }

      i {
        margin: 0 6px 0 0;
        font-size: 15px;

        &.icon-poll {
          font-size: 17px;
        }
      }

      &.poll,
      &.save {
        color: #398a10;
      }

      .icon-poll,
      .icon-save {
        color: $gray-900;
      }
    }
  }
}
