<div class="container cards">
  <h1 class="main-title">Editor's Picks</h1>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
      <a href="#" class="image" style="background-image:url(images/img01.jpg);">
        <span class="title">Coronavirus Pandemic</span>
      </a>
      <time datetime="2020-03-28">03/24/2020 11:35</time>
      <h2><a href="#">Analysis: A Democratic star rises in the coronavirus gloom</a></h2>
      <p>Coal mining illnesses, poverty, ageing population make West Virginia uniquely vulnerable to the novel coronavirus.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
      <a href="#" class="image" style="background-image:url(images/img01.jpg);">
        <span class="title">Coronavirus Pandemic</span>
      </a>
      <time datetime="2020-03-28">03/24/2020 11:35</time>
      <h2><a href="#">Analysis: A Democratic star rises in the coronavirus gloom</a></h2>
      <p>Coal mining illnesses, poverty, ageing population make West Virginia uniquely vulnerable to the novel coronavirus.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
      <a href="#" class="image" style="background-image:url(images/img01.jpg);">
        <span class="title">Coronavirus Pandemic</span>
      </a>
      <time datetime="2020-03-28">03/24/2020 11:35</time>
      <h2><a href="#">Analysis: A Democratic star rises in the coronavirus gloom</a></h2>
      <p>Coal mining illnesses, poverty, ageing population make West Virginia uniquely vulnerable to the novel coronavirus.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
      <a href="#" class="image" style="background-image:url(images/img01.jpg);">
        <span class="title">Coronavirus Pandemic</span>
      </a>
      <time datetime="2020-03-28">03/24/2020 11:35</time>
      <h2><a href="#">Analysis: A Democratic star rises in the coronavirus gloom</a></h2>
      <p>Coal mining illnesses, poverty, ageing population make West Virginia uniquely vulnerable to the novel coronavirus.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
      <a href="#" class="image" style="background-image:url(images/img01.jpg);">
        <span class="title">Coronavirus Pandemic</span>
      </a>
      <time datetime="2020-03-28">03/24/2020 11:35</time>
      <h2><a href="#">Analysis: A Democratic star rises in the coronavirus gloom</a></h2>
      <p>Coal mining illnesses, poverty, ageing population make West Virginia uniquely vulnerable to the novel coronavirus.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
      <a href="#" class="image" style="background-image:url(images/img01.jpg);">
        <span class="title">Coronavirus Pandemic</span>
      </a>
      <time datetime="2020-03-28">03/24/2020 11:35</time>
      <h2><a href="#">Analysis: A Democratic star rises in the coronavirus gloom</a></h2>
      <p>Coal mining illnesses, poverty, ageing population make West Virginia uniquely vulnerable to the novel coronavirus.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
      <a href="#" class="image" style="background-image:url(images/img01.jpg);">
        <span class="title">Coronavirus Pandemic</span>
      </a>
      <time datetime="2020-03-28">03/24/2020 11:35</time>
      <h2><a href="#">Analysis: A Democratic star rises in the coronavirus gloom</a></h2>
      <p>Coal mining illnesses, poverty, ageing population make West Virginia uniquely vulnerable to the novel coronavirus.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
      <a href="#" class="image" style="background-image:url(images/img01.jpg);">
        <span class="title">Coronavirus Pandemic</span>
      </a>
      <time datetime="2020-03-28">03/24/2020 11:35</time>
      <h2><a href="#">Analysis: A Democratic star rises in the coronavirus gloom</a></h2>
      <p>Coal mining illnesses, poverty, ageing population make West Virginia uniquely vulnerable to the novel coronavirus.</p>
    </div>
  </div>
</div>

<a class="load-more btn btn-primary" href="./inc/cards-view-03.html">load more</a>
