<div class="container cards">
  <h2>Recomended</h2>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3 card-nbr card-animate">
      <div class="card-holder">
        <div class="meta">
          <strong class="subtitle"><a href="#">MEI Pharma, Inc. (MEIP)</a></strong>
          <div class="rating">
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <a href="#" class="help">?</a>
        </div>
        <div class="numbers">
          <strong class="big-number">2.4000</strong>
          <strong class="negative-number">-0.1450 (-5.70%)</strong>
        </div>
        <ul class="meta-data">
          <li class="range">52 Week Range</li>
          <li><strong>1.4400-3.4100</strong></li>
          <li><strong class="text">SMA50:</strong></li>
          <li><strong class="text">1.90$</strong></li>
        </ul>
        <ul class="meta-data">
          <li class="heading"><a href="#">NEP:</a></li>
          <li class="figures"><a href="#" class="number-red">0</a>:<a class="number-green" href="#">5</a> <a href="#" class="help">?</a></li>
          <li><strong class="text">SMA200:</strong></li>
          <li><strong class="text">2.15$</strong></li>
        </ul>
      </div>
      <header class="head">
        <h2>Stephan Curry's Daughter Riley Steals The Show With Dance Moves!</h2>
        <a href="#" class="btn-share"><i class="icon-share"></i> Share</a>
      </header>
      <span class="category"><a href="#">CliveNBAParody</a></span>
      <ul class="info">
        <li><time class="date" datetime="2016-08-25">Aug 25, 2016</time></li>
        <li><a href="#"><i class="icon-like"></i>26K</a></li>
        <li><a href="#"><i class="icon-dislike"></i>2.7K</a></li>
        <li><a href="#" class="poll"><i class="icon-poll"></i>Poll</a></li>
        <li><a href="#" class="poll"><i class="icon-save"></i>Save</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3 card-nbr card-animate">
      <div class="card-holder">
        <div class="meta">
          <strong class="subtitle"><a href="#">MEI Pharma, Inc. (MEIP)</a></strong>
          <div class="rating">
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <a href="#" class="help">?</a>
        </div>
        <div class="numbers">
          <strong class="big-number">2.4000</strong>
          <strong class="negative-number">-0.1450 (-5.70%)</strong>
        </div>
        <ul class="meta-data">
          <li class="range">52 Week Range</li>
          <li><strong>1.4400-3.4100</strong></li>
          <li><strong class="text">SMA50:</strong></li>
          <li><strong class="text">1.90$</strong></li>
        </ul>
        <ul class="meta-data">
          <li class="heading"><a href="#">NEP:</a></li>
          <li class="figures"><a href="#" class="number-red">0</a>:<a class="number-green" href="#">5</a> <a href="#" class="help">?</a></li>
          <li><strong class="text">SMA200:</strong></li>
          <li><strong class="text">2.15$</strong></li>
        </ul>
      </div>
      <header class="head">
        <h2>Stephan Curry's Daughter Riley Steals The Show With Dance Moves!</h2>
        <a href="#" class="btn-share"><i class="icon-share"></i> Share</a>
      </header>
      <span class="category"><a href="#">CliveNBAParody</a></span>
      <ul class="info">
        <li><time class="date" datetime="2016-08-25">Aug 25, 2016</time></li>
        <li><a href="#"><i class="icon-like"></i>26K</a></li>
        <li><a href="#"><i class="icon-dislike"></i>2.7K</a></li>
        <li><a href="#" class="poll"><i class="icon-poll"></i>Poll</a></li>
        <li><a href="#" class="poll"><i class="icon-save"></i>Save</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3 card-nbr card-animate">
      <div class="card-holder">
        <div class="meta">
          <strong class="subtitle"><a href="#">MEI Pharma, Inc. (MEIP)</a></strong>
          <div class="rating">
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <a href="#" class="help">?</a>
        </div>
        <div class="numbers">
          <strong class="big-number">2.4000</strong>
          <strong class="negative-number">-0.1450 (-5.70%)</strong>
        </div>
        <ul class="meta-data">
          <li class="range">52 Week Range</li>
          <li><strong>1.4400-3.4100</strong></li>
          <li><strong class="text">SMA50:</strong></li>
          <li><strong class="text">1.90$</strong></li>
        </ul>
        <ul class="meta-data">
          <li class="heading"><a href="#">NEP:</a></li>
          <li class="figures"><a href="#" class="number-red">0</a>:<a class="number-green" href="#">5</a> <a href="#" class="help">?</a></li>
          <li><strong class="text">SMA200:</strong></li>
          <li><strong class="text">2.15$</strong></li>
        </ul>
      </div>
      <header class="head">
        <h2>Stephan Curry's Daughter Riley Steals The Show With Dance Moves!</h2>
        <a href="#" class="btn-share"><i class="icon-share"></i> Share</a>
      </header>
      <span class="category"><a href="#">CliveNBAParody</a></span>
      <ul class="info">
        <li><time class="date" datetime="2016-08-25">Aug 25, 2016</time></li>
        <li><a href="#"><i class="icon-like"></i>26K</a></li>
        <li><a href="#"><i class="icon-dislike"></i>2.7K</a></li>
        <li><a href="#" class="poll"><i class="icon-poll"></i>Poll</a></li>
        <li><a href="#" class="poll"><i class="icon-save"></i>Save</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3 card-nbr card-animate">
      <div class="card-holder">
        <div class="meta">
          <strong class="subtitle"><a href="#">MEI Pharma, Inc. (MEIP)</a></strong>
          <div class="rating">
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <a href="#" class="help">?</a>
        </div>
        <div class="numbers">
          <strong class="big-number">2.4000</strong>
          <strong class="negative-number">-0.1450 (-5.70%)</strong>
        </div>
        <ul class="meta-data">
          <li class="range">52 Week Range</li>
          <li><strong>1.4400-3.4100</strong></li>
          <li><strong class="text">SMA50:</strong></li>
          <li><strong class="text">1.90$</strong></li>
        </ul>
        <ul class="meta-data">
          <li class="heading"><a href="#">NEP:</a></li>
          <li class="figures"><a href="#" class="number-red">0</a>:<a class="number-green" href="#">5</a> <a href="#" class="help">?</a></li>
          <li><strong class="text">SMA200:</strong></li>
          <li><strong class="text">2.15$</strong></li>
        </ul>
      </div>
      <header class="head">
        <h2>Stephan Curry's Daughter Riley Steals The Show With Dance Moves!</h2>
        <a href="#" class="btn-share"><i class="icon-share"></i> Share</a>
      </header>
      <span class="category"><a href="#">CliveNBAParody</a></span>
      <ul class="info">
        <li><time class="date" datetime="2016-08-25">Aug 25, 2016</time></li>
        <li><a href="#"><i class="icon-like"></i>26K</a></li>
        <li><a href="#"><i class="icon-dislike"></i>2.7K</a></li>
        <li><a href="#" class="poll"><i class="icon-poll"></i>Poll</a></li>
        <li><a href="#" class="poll"><i class="icon-save"></i>Save</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3 card-nbr card-animate">
      <div class="card-holder">
        <div class="meta">
          <strong class="subtitle"><a href="#">MEI Pharma, Inc. (MEIP)</a></strong>
          <div class="rating">
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <a href="#" class="help">?</a>
        </div>
        <div class="numbers">
          <strong class="big-number">2.4000</strong>
          <strong class="negative-number">-0.1450 (-5.70%)</strong>
        </div>
        <ul class="meta-data">
          <li class="range">52 Week Range</li>
          <li><strong>1.4400-3.4100</strong></li>
          <li><strong class="text">SMA50:</strong></li>
          <li><strong class="text">1.90$</strong></li>
        </ul>
        <ul class="meta-data">
          <li class="heading"><a href="#">NEP:</a></li>
          <li class="figures"><a href="#" class="number-red">0</a>:<a class="number-green" href="#">5</a> <a href="#" class="help">?</a></li>
          <li><strong class="text">SMA200:</strong></li>
          <li><strong class="text">2.15$</strong></li>
        </ul>
      </div>
      <header class="head">
        <h2>Stephan Curry's Daughter Riley Steals The Show With Dance Moves!</h2>
        <a href="#" class="btn-share"><i class="icon-share"></i> Share</a>
      </header>
      <span class="category"><a href="#">CliveNBAParody</a></span>
      <ul class="info">
        <li><time class="date" datetime="2016-08-25">Aug 25, 2016</time></li>
        <li><a href="#"><i class="icon-like"></i>26K</a></li>
        <li><a href="#"><i class="icon-dislike"></i>2.7K</a></li>
        <li><a href="#" class="poll"><i class="icon-poll"></i>Poll</a></li>
        <li><a href="#" class="poll"><i class="icon-save"></i>Save</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3 card-nbr card-animate">
      <div class="card-holder">
        <div class="meta">
          <strong class="subtitle"><a href="#">MEI Pharma, Inc. (MEIP)</a></strong>
          <div class="rating">
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <a href="#" class="help">?</a>
        </div>
        <div class="numbers">
          <strong class="big-number">2.4000</strong>
          <strong class="negative-number">-0.1450 (-5.70%)</strong>
        </div>
        <ul class="meta-data">
          <li class="range">52 Week Range</li>
          <li><strong>1.4400-3.4100</strong></li>
          <li><strong class="text">SMA50:</strong></li>
          <li><strong class="text">1.90$</strong></li>
        </ul>
        <ul class="meta-data">
          <li class="heading"><a href="#">NEP:</a></li>
          <li class="figures"><a href="#" class="number-red">0</a>:<a class="number-green" href="#">5</a> <a href="#" class="help">?</a></li>
          <li><strong class="text">SMA200:</strong></li>
          <li><strong class="text">2.15$</strong></li>
        </ul>
      </div>
      <header class="head">
        <h2>Stephan Curry's Daughter Riley Steals The Show With Dance Moves!</h2>
        <a href="#" class="btn-share"><i class="icon-share"></i> Share</a>
      </header>
      <span class="category"><a href="#">CliveNBAParody</a></span>
      <ul class="info">
        <li><time class="date" datetime="2016-08-25">Aug 25, 2016</time></li>
        <li><a href="#"><i class="icon-like"></i>26K</a></li>
        <li><a href="#"><i class="icon-dislike"></i>2.7K</a></li>
        <li><a href="#" class="poll"><i class="icon-poll"></i>Poll</a></li>
        <li><a href="#" class="poll"><i class="icon-save"></i>Save</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3 card-nbr card-animate">
      <div class="card-holder">
        <div class="meta">
          <strong class="subtitle"><a href="#">MEI Pharma, Inc. (MEIP)</a></strong>
          <div class="rating">
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <a href="#" class="help">?</a>
        </div>
        <div class="numbers">
          <strong class="big-number">2.4000</strong>
          <strong class="negative-number">-0.1450 (-5.70%)</strong>
        </div>
        <ul class="meta-data">
          <li class="range">52 Week Range</li>
          <li><strong>1.4400-3.4100</strong></li>
          <li><strong class="text">SMA50:</strong></li>
          <li><strong class="text">1.90$</strong></li>
        </ul>
        <ul class="meta-data">
          <li class="heading"><a href="#">NEP:</a></li>
          <li class="figures"><a href="#" class="number-red">0</a>:<a class="number-green" href="#">5</a> <a href="#" class="help">?</a></li>
          <li><strong class="text">SMA200:</strong></li>
          <li><strong class="text">2.15$</strong></li>
        </ul>
      </div>
      <header class="head">
        <h2>Stephan Curry's Daughter Riley Steals The Show With Dance Moves!</h2>
        <a href="#" class="btn-share"><i class="icon-share"></i> Share</a>
      </header>
      <span class="category"><a href="#">CliveNBAParody</a></span>
      <ul class="info">
        <li><time class="date" datetime="2016-08-25">Aug 25, 2016</time></li>
        <li><a href="#"><i class="icon-like"></i>26K</a></li>
        <li><a href="#"><i class="icon-dislike"></i>2.7K</a></li>
        <li><a href="#" class="poll"><i class="icon-poll"></i>Poll</a></li>
        <li><a href="#" class="poll"><i class="icon-save"></i>Save</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-xl-4 col-xxl-3 card-nbr card-animate">
      <div class="card-holder">
        <div class="meta">
          <strong class="subtitle"><a href="#">MEI Pharma, Inc. (MEIP)</a></strong>
          <div class="rating">
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          </div>
          <a href="#" class="help">?</a>
        </div>
        <div class="numbers">
          <strong class="big-number">2.4000</strong>
          <strong class="negative-number">-0.1450 (-5.70%)</strong>
        </div>
        <ul class="meta-data">
          <li class="range">52 Week Range</li>
          <li><strong>1.4400-3.4100</strong></li>
          <li><strong class="text">SMA50:</strong></li>
          <li><strong class="text">1.90$</strong></li>
        </ul>
        <ul class="meta-data">
          <li class="heading"><a href="#">NEP:</a></li>
          <li class="figures"><a href="#" class="number-red">0</a>:<a class="number-green" href="#">5</a> <a href="#" class="help">?</a></li>
          <li><strong class="text">SMA200:</strong></li>
          <li><strong class="text">2.15$</strong></li>
        </ul>
      </div>
      <header class="head">
        <h2>Stephan Curry's Daughter Riley Steals The Show With Dance Moves!</h2>
        <a href="#" class="btn-share"><i class="icon-share"></i> Share</a>
      </header>
      <span class="category"><a href="#">CliveNBAParody</a></span>
      <ul class="info">
        <li><time class="date" datetime="2016-08-25">Aug 25, 2016</time></li>
        <li><a href="#"><i class="icon-like"></i>26K</a></li>
        <li><a href="#"><i class="icon-dislike"></i>2.7K</a></li>
        <li><a href="#" class="poll"><i class="icon-poll"></i>Poll</a></li>
        <li><a href="#" class="poll"><i class="icon-save"></i>Save</a></li>
      </ul>
    </div>
  </div>
</div>
