@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?l8o5mm');
  src:  url('../fonts/icomoon.eot?l8o5mm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?l8o5mm') format('truetype'),
    url('../fonts/icomoon.woff?l8o5mm') format('woff'),
    url('../fonts/icomoon.svg?l8o5mm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dislike:before {
  content: "\e921";
}
.icon-like:before {
  content: "\e922";
}
.icon-play:before {
  content: "\e91e";
}
.icon-notification:before {
  content: "\e90e";
}
.icon-user-square:before {
  content: "\e90b";
}
.icon-dollar:before {
  content: "\e902";
}
.icon-tick:before {
  content: "\e90d";
}
.icon-lightbulb:before {
  content: "\e901";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-save:before {
  content: "\e91f";
}
.icon-save:before {
  content: "\e91f";
}
.icon-upload:before {
  content: "\e914";
}
.icon-copy:before {
  content: "\e915";
}
.icon-poll:before {
  content: "\e920";
}
.icon-check:before {
  content: "\e916";
}
.icon-find:before {
  content: "\e917";
}
.icon-logout:before {
  content: "\e904";
}
.icon-switch:before {
  content: "\e905";
}
.icon-video-upload:before {
  content: "\e906";
}
.icon-reel:before {
  content: "\e907";
}
.icon-library:before {
  content: "\e909";
}
.icon-subscriptions:before {
  content: "\e90a";
}
.icon-share:before {
  content: "\e91a";
}
.icon-star-o:before {
  content: "\e918";
}
.icon-star:before {
  content: "\e919";
}
.icon-briefcase:before {
  content: "\e91b";
}
.icon-volume-up:before {
  content: "\e91c";
}
.icon-play-circle:before {
  content: "\e91d";
}
.icon-camera:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e912";
}
.icon-angle-left:before {
  content: "\e911";
}
.icon-angle-right:before {
  content: "\e910";
}
.icon-th:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e903";
}
.icon-angle-down:before {
  content: "\e908";
}
.icon-cog:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e900";
}
